#main {
    transition: margin-left .5s;
    padding: 16px;
  }






  .grid {
    position: relative;
    max-width: 2500px;
    width: 100%;
  }

  .item3X3 {
    position: absolute;
    width: 31%;
    height: 300;

    margin: 5px;
    z-index: 1;
  }
  .item2X2 {
    position: absolute;
    width: 48%;
    height: 350;

    margin: 5px;
    z-index: 1;
  }
  .item5X5 {
    position: absolute;
    width: 18%;
    height: 180;

    margin: 5px;
    z-index: 1;
  }
  .item1X1 {
    position: absolute;
    width: 97%;
    height: 800px;

    margin: 5px;
    z-index: 1;
  }
  .item4X4 {
    position: absolute;
    width: 24%;
    height: 200px;

    margin: 5px;
    z-index: 1;
  }
  .item6X6 {
    position: absolute;
    width: 16%;
    height: 145px;

    margin: 5px;
    z-index: 1;
  }
  .item7X7 {
    position: absolute;
    width: 13.5%;
    height: 125px;

    margin: 5px;
    z-index: 1;
  }
  .item8X8 {
    position: absolute;
    width: 11.8%;
    height: 105px;

    margin: 5px;
    z-index: 1;
  }
  .item9X9 {
    position: absolute;
    width: 10.2%;
    height: 96px;

    margin: 5px;
    z-index: 1;
  }
  .item10X10 {
    position: absolute;
    width: 9%;
    height: 92px;

    margin: 5px;
    z-index: 1;
  }

  .undecorated {
    text-decoration: none;
  }

  .item.muuri-item-hidden {
    z-index: 0;
  }

  .item.muuri-item-positioning {
    z-index: 2;
  }

  .item.muuri-item-releasing {
    z-index: 3;
  }

  .item.muuri-item-dragging {
    z-index: 4;
  }

  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fdfafa;
    cursor: pointer;
  }

  .item.muuri-item-dragging .item-content {
    background: #E04B4A;
  }

  .item.muuri-item-releasing .item-content {
    background: #E04B4A;
  }




  html,
body {
  height: 100%;
}
body {
  display: grid;
}
.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #4285f4;
}


.cbx{
  margin-top: 15px;
}
.cbx:checked + .check svg {
  stroke: #4285f4;
}
.cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


.video-container {
  /* width is set as 100% here. any width can be specified as per requirement */
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}